<div class="div-crud container">

    <!-- HEADER -->
    <div class="div-crud-header">
        <h4 [ngSwitch]="action">

            {{title}}

            <span *ngSwitchCase="'CREATE'">
                <button type="button" class="btn btn-outline-success" (click)="onCreate()">Create</button>
            </span>

            <span *ngSwitchCase="'CRUD'">
                <button type="button" class="btn btn-outline-warning" (click)="onUpdate()">Update</button>
                <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
            </span>

        </h4>
    </div>

    <!-- BODY -->
    <div class="div-crud-form">
        <form [formGroup]="form">

            <!-- id -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.id">
                <mat-form-field>
                    <input matInput placeholder="Id" title="Id" type="text" formControlName="id">
                </mat-form-field>
            </div>

            <!-- service -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.service">
                <mat-form-field>
                    <input matInput placeholder="Service" title="Service" #inputService type="text"
                        formControlName="service" maxlength="30">
                    <mat-error *ngIf="form.get('service').invalid">{{getErrorMessageService()}}</mat-error>
                    <mat-hint align="end">{{inputService.value?.length || 0}}/30</mat-hint>
                </mat-form-field>
            </div>

            <!-- name -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.name">
                <mat-form-field>
                    <input matInput placeholder="Name" title="Name" #inputName type="text" formControlName="name"
                        maxlength="30">
                    <mat-error *ngIf="form.get('name').invalid">{{getErrorMessageName()}}</mat-error>
                    <mat-hint align="end">{{inputName.value?.length || 0}}/30</mat-hint>
                </mat-form-field>
            </div>

            <!-- user -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.user">
                <mat-form-field>
                    <input matInput placeholder="User" title="User" #inputUser type="text" formControlName="user"
                        maxlength="30">
                    <mat-error *ngIf="form.get('user').invalid">{{getErrorMessageUser()}}</mat-error>
                    <mat-hint align="end">{{inputUser.value?.length || 0}}/30</mat-hint>
                </mat-form-field>
            </div>

            <!-- domain -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.domain">
                <mat-form-field>
                    <input matInput placeholder="Domain" title="Domain" #inputDomain type="text"
                        formControlName="domain" maxlength="30">
                    <mat-error *ngIf="form.get('domain').invalid">{{getErrorMessageDomain()}}</mat-error>
                    <mat-hint align="end">{{inputDomain.value?.length || 0}}/50</mat-hint>
                </mat-form-field>
            </div>

            <!-- mail -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.mail">
                <mat-form-field>
                    <input matInput placeholder="Mail" title="Mail" #inputMail type="text" formControlName="mail"
                        maxlength="30">
                    <mat-error *ngIf="form.get('mail').invalid">{{getErrorMessageMail()}}</mat-error>
                    <mat-hint align="end">{{inputMail.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
            </div>

            <!-- password -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.password">
                <mat-form-field>
                    <input matInput placeholder="Password" title="Password" [type]="hide ? 'password' : 'text'"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('password').invalid">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>
            </div>

            <!-- description -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.description">
                <mat-form-field>
                    <textarea matInput placeholder="Description" title="Description" #inputDescription
                        formControlName="description" maxlength="100"></textarea>
                    <mat-error *ngIf="form.get('description').invalid">{{getErrorMessageDescription()}}</mat-error>
                    <mat-hint align="end">{{inputDescription.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
            </div>

            <!-- state -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.state">
                <mat-form-field>
                    <mat-select placeholder="Select" title="State" formControlName="state">
                        <mat-option value="option">Option...</mat-option>
                        <mat-option value="A">Active</mat-option>
                        <mat-option value="I">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- date -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.date">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Date" title="Date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>


        </form>
    </div>

</div>