<form [formGroup]="form">

    <!-- id -->
    <div class="form-group row" *ngIf="visibleControls.id">
        <label for="notification-id" class="col-sm-2 col-form-label">id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="notification-id" formControlName="id" placeholder="id">
        </div>
    </div>

    <!-- product -->
    <div class="form-group row" *ngIf="visibleControls.product">
        <label for="notification-product" class="col-sm-2 col-form-label">product</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="notification-product" formControlName="product"
                placeholder="product">
        </div>
    </div>

    <!-- creationDate -->
    <div class="form-group row" *ngIf="visibleControls.creationDate">
        <label for="notification-creationDate" class="col-sm-2 col-form-label">creationDate</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="notification-creationDate" formControlName="creationDate"
                placeholder="creationDate">
        </div>
    </div>

    <!-- sentDate -->
    <div class="form-group row" *ngIf="visibleControls.sentDate">
        <label for="notification-sentDate" class="col-sm-2 col-form-label">sentDate</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="notification-sentDate" formControlName="sentDate"
                placeholder="sentDate">
        </div>
    </div>

    <!-- state -->
    <div class="form-group row" *ngIf="visibleControls.state">
        <label for="notification-state" class="col-sm-2 col-form-label">state</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="notification-state" formControlName="state" placeholder="state">
        </div>
    </div>

</form>