<div class="modal-header">
    <h4 class="modal-title pull-left">Delete Product</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <form>

        <div class="form-group row">
            <label for="product-id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-id" placeholder="Id" [value]="product._id" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-service" class="col-sm-2 col-form-label">Service</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-service" placeholder="Servie"
                    [value]="product.service" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-name" placeholder="Name" [value]="product.name"
                    disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-user" class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-user" placeholder="User" [value]="product.user"
                    disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-domain" class="col-sm-2 col-form-label">Domain</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-domain" placeholder="Domain"
                    [value]="product.domain" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-description" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="product-description" placeholder="Description"
                    [value]="product.description" disabled></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-mail" class="col-sm-2 col-form-label">Mail</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-mail" placeholder="Mail" [value]="product.mail"
                    disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="product-password" placeholder="Password"
                    [value]="product.password" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-state" class="col-sm-2 col-form-label">State</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-state" placeholder="State" [value]="product.state"
                    disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="product-date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="product-date" placeholder="Date"
                    [value]="product.date | date:'medium'" disabled>
            </div>
        </div>

    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
</div>