<!-- CRUD Test -->
<h1>CRUD 
    <button type="button" class="btn btn-outline-success" (click)="showModalCrud('CREATE')">Create</button>
    <button type="button" class="btn btn-outline-primary" (click)="showModalCrud('READ')">Read</button>
    <button type="button" class="btn btn-outline-warning" (click)="showModalCrud('UPDATE')">Update</button>
    <button type="button" class="btn btn-outline-danger" (click)="showModalCrud('DELETE')">Delete</button>
</h1>

<!-- Product list -->
<product-list></product-list>