<div class="div-crud container">

    <!-- HEADER -->
    <div class="div-crud-header">
        <h4 [ngSwitch]="action">

            {{title}}

            <span *ngSwitchCase="'CREATE'">
                <button type="button" class="btn btn-outline-success" (click)="onCreate()">Create</button>
            </span>

            <span *ngSwitchCase="'CRUD'">
                <button type="button" class="btn btn-outline-warning" (click)="onUpdate()">Update</button>
                <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
            </span>

        </h4>
    </div>

    <!-- BODY -->
    <div class="div-crud-form">
        <form [formGroup]="form" [style.fontSize.px]=15>

            <!-- id -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.id">
                <mat-form-field>
                    <input matInput placeholder="Id" title="Id" type="text" formControlName="id">
                </mat-form-field>
            </div>

            <!-- token -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.token">
                <mat-form-field>
                    <input matInput placeholder="Token" title="Token" type="text" formControlName="token">
                </mat-form-field>
            </div>

            <!-- payload -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.payload">
                <mat-form-field>
                    <input matInput placeholder="Payload" title="Payload" type="text" formControlName="payload">
                </mat-form-field>
            </div>

            <!-- creationDate -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.creationDate">
                <mat-form-field>
                    <input matInput placeholder="Creation date" title="Creation date" type="text"
                        formControlName="creationDate">
                </mat-form-field>
            </div>

            <!-- seconds -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.seconds">
                <mat-form-field>
                    <input matInput placeholder="Seconds" title="Seconds" type="text" formControlName="seconds">
                </mat-form-field>
            </div>

            <!-- key -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.key">
                <mat-form-field>
                    <input matInput placeholder="Key" title="Key" type="text" formControlName="key">
                </mat-form-field>
            </div>

            <!-- state -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.state">
                <mat-form-field>
                    <mat-select placeholder="State" title="State" formControlName="state">                        
                        <mat-option value="A">Activo</mat-option>
                        <mat-option value="I">Inactivo</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('state').invalid">{{getErrorMessageState()}}</mat-error>
                </mat-form-field>
            </div>

        </form>
    </div>

</div>