<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar">

        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Notification Management System</h1>

        <button mat-button [matMenuTriggerFor]="menu" layout-align="end right">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>


    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <mat-nav-list>

                <button mat-list-item (click)="viewOption('Application')">
                    <mat-icon color="primary">apps</mat-icon>Applications
                </button>

                <button mat-list-item (click)="viewOption('Product')">
                    <mat-icon color="primary">email</mat-icon>Products
                </button>

                <button mat-list-item (click)="viewOption('Notification')">
                    <mat-icon color="primary">notifications_active</mat-icon>Notifications
                </button>

                <button mat-list-item (click)="viewOption('User')">
                    <mat-icon color="primary">supervised_user_circle</mat-icon>Users
                </button>

                <button mat-list-item (click)="viewOption('Log')">
                    <mat-icon color="primary">find_in_page</mat-icon>Logs
                </button>

                <button mat-list-item (click)="viewOption('Entity')">
                    <mat-icon color="primary">assignment</mat-icon>Entities
                </button>

            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content [ngSwitch]="option">            
            <mail-entity-application-main *ngSwitchCase="'Application'"></mail-entity-application-main>
            <mail-entity-product-main *ngSwitchCase="'Product'"></mail-entity-product-main>
            <mail-entity-notification-main *ngSwitchCase="'Notification'"></mail-entity-notification-main>
            <mail-entity-user-main *ngSwitchCase="'User'"></mail-entity-user-main>
            <mail-entity-log-main *ngSwitchCase="'Log'"></mail-entity-log-main>            
            <mail-entity-main *ngSwitchCase="'Entity'"></mail-entity-main>
            <mail-entity-main *ngSwitchDefault></mail-entity-main>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>