<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Admin Mail</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <mat-nav-list>
                
                <button mat-list-item (click)="viewOption('Entity')"><mat-icon color="primary">find_in_page</mat-icon>Entities</button>
                <button mat-list-item (click)="viewOption('Product')"><mat-icon color="primary">email</mat-icon>Product</button>
                <button mat-list-item (click)="viewOption('Notification')"><mat-icon color="primary">notifications_active</mat-icon>Notification</button>
                
            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content [ngSwitch]="option">
            <mail-entity-main *ngSwitchCase="'Entity'"></mail-entity-main>
            <mail-entity-product-main *ngSwitchCase="'Product'"></mail-entity-product-main>
            <mail-entity-notification-main *ngSwitchCase="'Notification'"></mail-entity-notification-main>
            <mail-entity-main *ngSwitchDefault></mail-entity-main>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>