.login-container{
    max-width: 500px;
}

::ng-deep .snackbar-success {
    color:#008000;
    background-color: #ffffff;
}

::ng-deep .snackbar-warning {
    color: #ff0000;
    background-color: #ffffff;
}

::ng-deep .snackbar-danger {
    color: #ff0000;
    background-color: #ffffff;    
}